:root{
  --primary-blue: #B8E8FC;
  --primary-peach: #F7A4A4;
  --primary-green: #B6E388;
  --dark-blue: #495579;
  --primary-white: #FFFBEB;
  --primary-purple: #42032C;
}
/*------------------------------------------ BODY ------------------------------------------------*/
body {
  margin: 0;
  margin-left: 15px;
  height: 100%;
  letter-spacing: .3px;
  font-family: 'Centra', sans-serif !important;
  line-height: 1.5;
  background-color: var(--primary-blue);
}
